#top-about {
    padding: 140px 15px;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px 0;
        align-items: center;
        //margin: 100px;
        //@include for_breakpoint ("mobile") {
        //    display: block;
        //}
        width: 100%;
        .info{
            //padding: 15px;
            position: relative;
            .blue-square {
                position: absolute;
                border: 20px solid #dbf1ff;
                //opacity: .2;
                width: 800px;
                height: 500px;
                z-index: 0;
                top: -20%;
                left: -110%;
            } 
            .name{
                position: relative;
                font-size: 3.5rem;
                text-transform: uppercase;
                font-weight: 700;
                color: $main-titles-color;
                margin: 3rem -1rem 3rem 0;
                z-index: 1;

            }
            .paragraph {
                position: relative;
                font-size: 1.3rem;
                color: $text-color;
                text-transform: capitalize;
                margin-bottom: 4rem;
                z-index: 1;
            }
            a{
                position: relative;
                color: $accent-color;
                font-size: .9rem;
                font-weight: 700;
                padding-bottom: 5px;
                border-bottom: 2px solid $accent-color;
                text-transform: uppercase;
                z-index: 1;
                letter-spacing: 2px;
            }        
        }
        .img {
            .profile-img {
                position: relative;
                display: block;
                z-index: 1;
                width: 100%;
                max-width: 50px;
                margin-right: -20px;
            }
        }

        
            .languages {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 200px 200px 200px 200px;
                align-items: center;
                height: 500px;
                gap: 5px;
                margin-left: 300px;
                border-radius: 50%;
                //@include for_breakpoint ("mobile") {
                //    margin-left: 300px;
                //}
                .box {
                    color: $accent-color;
                    display: block;
                    padding: 20px;
                    transition: all .4s ease-in-out;
                    font-size: 4rem;
                    text-align:center;
                    width: 100%;
                    &:hover{
                        color: $main-titles-color;
                    }
                }
                .box.icon1{
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    margin-top: 170px;
                    margin-left: -130px;
                }
                .box.icon2{
                    grid-column: 1 / 1;
                    grid-row: 3 / 4;
                    margin-top: -170px;
                    margin-left: -130px;
                }
                .box.icon3{
                    grid-column: 2 / 2;
                    grid-row: 2 / 3;
                }
                .box.icon4{
                    grid-column: 2 / 2;
                    grid-row: 3 / 4;
                }
                .box.icon5{
                    grid-column: 3 / 3;
                    grid-row: 3 / 4;
                    margin-top: -160px;
                    margin-left: 50px;
                }
                .box.icon6{
                    grid-column: 3 / 3;
                    grid-row: 1 / 2;
                    margin-top: 170px;
                    margin-left: 50px;
                }
                .box.icon7{
                    grid-column: 2 / 2;
                    grid-row: 1 / 2;
                }
            }    
        }
    }
       