#top-area {
    padding: 80px 15px;
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        justify-content: center;
        padding: 80px 0;
        width: 100%;
        height: 100vh;
        padding-top: 100px;
        @include for_breakpoint (tablet) {
            position: relative;
            top: 0;
            width: 100vw;
          }
        @include for_breakpoint (mobile) {
            position: relative;
            top: -100px;
            width: 100vw;
        }
        .contact-me{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-left: -30px;
            text-transform: uppercase;
            @include for_breakpoint (mobile tablet) {
              position: relative;
              top: 50px;
              left: 10px;
            }
            .grey-diamond{
                position: absolute;
                border: 20px solid $nav-color;
                opacity: .1;
                width: 1200px;
                height: 1200px;
                z-index: 0;
                margin-top: 40px;
                margin-left: -400px;
                @include for_breakpoint (mobile tablet) {
                    display: none;
                }
            }
                h2{
                    position: relative;
                    color: $main-titles-color;
                    font-size: 3rem;
                    font-weight: 700;
                    margin-bottom: 50px;
                    z-index: 1;
                    @include for_breakpoint (tablet) {
                       font-size: 2.8rem; 
                    }
                    @include for_breakpoint (mobile) {
                        font-size: 2rem; 
                        margin-bottom: 20px;
                    }
                }
                p{
                    position: relative;
                    justify-content: center;
                    text-align: start;
                    color: $text-color;
                    font-size: 1.3rem;
                    margin-bottom: 50px;
                    z-index: 1;
                    @include for_breakpoint (tablet) {
                        font-size: 1rem; 
                    }
                    @include for_breakpoint (mobile) {
                        font-size: 0.7rem; 
                    }
                }
                .job-positions {
                    display: flex;
                    flex-direction: column;
                    .check-mark{
                        font-size: 2rem;
                        color: $circle-color;
                        padding: 0 20px;
                        @include for_breakpoint (tablet) {
                            font-size: 1.5rem; 
                            padding: 0;
                        }
                        @include for_breakpoint (mobile) {
                            font-size: 1.2rem; 
                            padding: 0 0 0 20px;
                            width: 100%;
                        }
                        p{
                            display: inline-block;
                            padding-left: 30px;
                            font-size: 1.6rem;
                            color: $nav-color;
                            font-weight: 500;
                            @include for_breakpoint (tablet) {
                                font-size: 1.1rem; 
                                padding-left: 10px;
                            }
                            @include for_breakpoint (mobile) {
                                font-size: 1rem; 
                                padding-left: 5px;
                            }
                        }
                    }
                }
                h5 {
                    display: inline-block;
                    color: $main-titles-color;
                    font-size: 1.7rem;  
                    text-transform: uppercase;   
                    text-align: center;
                    font-weight: 600;
                    line-height: 1.5;
                    @include for_breakpoint (mobile tablet) {
                        font-size: 1rem; 
                        text-align: left;
                        margin-left: 15px;
                        padding-right: 20px;
                     }
                }
                .triangle-right {
                    display:inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 12px 0 12px 20px;
                    border-color: transparent transparent transparent #007bff;
                    position: relative;
                    top: 1px;
                    @include for_breakpoint (mobile tablet) {
                        display: none;
                    }
                }
            }
            .social-contact {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 100px 100px 100px 100px 100px;
                align-items: center;
                height: 500px;
                gap: 5px;
                margin-left: 300px;
                border-radius: 50%;
                margin-top: -15%;
                @include for_breakpoint (mobile tablet) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 80px 80px 80px 80px 80px;
                    align-items: center;
                    margin: 10px;
                 }
                    .box {
                        color: $circle-color;
                        display: block;
                        padding: 20px;
                        transition: all .4s ease-in-out;
                        font-size: 4rem;
                        text-align:center;
                        width: 100%;
                        &:hover{
                            color: $main-titles-color;
                        }
                        @include for_breakpoint (mobile tablet) {
                           //margin-left: 50px;
                           font-size: 3rem; 
                           padding: 0.5rem;
                            
                        }  
                    }      
            }
    }    
}
