$nav-color: #283747;
$background-color: #f3f3f3;
$main-titles-color: #3c1874;
$subtitles-color: #de354c;
$accent-color: #de354c;
$text-color: #383B42;
$footer-text-color: #f3f3f3;
$links-color: #000000;
$circle-color: #244fb4;
$triangle-color: rgb(247, 204, 16);
$squares-color: #de354c;

