$nav-color: #283747;
$background-color: #f3f3f3;
$main-titles-color: #f87b14;
$subtitles-color: #de354c;
$accent-color: #de354c;
$text-color: #383B42;
$footer-text-color: #f3f3f3;
$links-color: #000000;
$circle-color: #04ADBF;
//$lightBlue: #04ADBF;
$triangle-color: rgb(247, 204, 16);
$squares-color: #de354c;



/* Media Queries */ 
$media_queries :(
    'mobile'    : "only screen and (min-width: 1px) and (max-width: 767.99px)",
    'tablet'    : "only screen and (min-width: 768px) and (max-width: 960px)",
    'desktop'   : "only screen and (min-width: ($size__site_content_width + 1))",
    'retina2'   : "only screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)",
    'retina3'   : "only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)",
    'landscape' : "screen and (orientation:landscape) ",    
    'portrait'  : "screen and (orientation:portrait) "
);
// MIXINS 

@mixin for_breakpoint($breakpoints) {
    $conditions : ();
    @each $breakpoint in $breakpoints {
        // If the key exists in the map
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma
        );
    }

    @media #{$conditions} {
        @content;
    }
}