@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "_reset";
@import "_variables";
@import "_home";
@import "_footer";
@import "_portfolio";
@import "_contact";
@import "_experience";
@import "_navbar";
@import "_services";
@import "_landing-restaurant";

.container {
    max-width: 1150px;
    margin: 0 auto;
}

html, body, h1, h2, h3, h4, h5, h6, span, p, a{
    font-family: 'Noto Sans', sans-serif;
}

